{
    "extends": [
        "react-app",
        "airbnb",
        "plugin:jsx-a11y/recommended",
        "prettier",
        "plugin:testing-library/react"
    ],
    "plugins": [
        "jsx-a11y",
        "prettier",
        "testing-library"
    ],
    "overrides": [
        {
            "files": ["**/tests/**/*.[jt]s?(x)", "**/?(*.)+(spec|test).[jt]s?(x)"],
            "extends": ["plugin:testing-library/react"]
        }
    ],
"rules": {
    "react-app/prod": "off"
},

    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    }
}
